<?xml version='1.0' encoding='UTF-8'?>
<application>
    <fileSettings>
        <defaultPath>/home/deadpadre/workspace/Zardos</defaultPath>
        <defaultDict>/home/deadpadre/workspace/Zardos/dictionary.txt</defaultDict>
    </fileSettings>
    <quizSettings>
        <defaultMode>Русский -&gt; Английский</defaultMode>
    </quizSettings>
    <version>0.1</version>
</application>